:root {
  --azure: #0290ff;
  --black: #121212;
  --lightblue: #4386bf;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  color: white;
  border: none;
  padding: 24px;
  font-size: 18px;
  border-radius: 24px;
  background-color: var(--azure);
}

.status {
  font-size: 24px;
  font-weight: bold;
  color: red;
  text-align: center;
}
